{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
<section id="section-contents" class="body">
    <h1>Contents</h1>
    <ul>
    {% for link in page.section_links %}
      <li><a href="{{ link['location'] }}">{{ link['title'] }}</a></li>
    {% endfor %}
    </ul>
</section>
<section id="content" class="body">
    <h1 class="entry-title">{{ page.title }}</h1>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    {{ page.content }}
</section>
{% endblock %}
